<div class="animated fadeIn">
	<div class="row">
		<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9',backdropBorderRadius:'0.4em', secondaryColour: '#2980b9',
	        tertiaryColour: '#2980b9'}"></ngx-loading>
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<ng-template #customItemTemplate let-model="item" let-index="index">
					<h5>Name: {{model.name}}, Class: {{model.class}} , Section :
						{{model.section}}</h5>
					</ng-template>
					<div class="search_holder">
						<input [(ngModel)]="search"
						id="search"
						[typeaheadItemTemplate]="customItemTemplate"
						[typeahead]="dataSource"
						(typeaheadLoading)="changeTypeaheadLoading($event)"
						(typeaheadNoResults)="changeTypeaheadNoResults($event)"
						(typeaheadOnSelect)="typeaheadOnSelect($event)"
						[typeaheadOptionsLimit]="40"
						typeaheadOptionField="name"
						autocomplete="off"
						placeholder="Search Student" class="form-control">
						<span class="fas fa-search"></span>
					</div>

					<div *ngIf="typeaheadLoading===true">Loading</div>
					<div *ngIf="typeaheadNoResults===true && search.length > 0">&#10060;
						No Results Found</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>

	<div class="col-lg-12">
				<div class="row">
	    <div  class="col-md-6">
	        <div  class="card mycard discount">
	            <div  class="card-body">
	                <div class="pull-left">
	                <div class="myicon">
	                    <i class="fas fa-rupee-sign"></i>
	                </div>
	                </div>
	                <div  class="pull-left">
	                    <h3>Total Today's Collection </h3>
	                    <p>{{transactionDashboard?.totalCollectionToday}}</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div  class="col-md-6">
	        <div  class="card mycard students">
	            <div class="card-body">
	                <div  class="pull-left">
	                	<div class="myicon">
	                    <i class="fa fa-users fa-lg"></i>
	                    </div>
	                </div>
	                <div class="pull-left">
	                    <h3>No of Students Paid </h3>
	                    <p>{{transactionDashboard?.totalNoOfStudentsPaid}}</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	</div>

	<div class="card" *ngIf="selected && studentTransaction">

		<div class="card-header">
			<strong>Student Details</strong>
		</div>
		<div class="card-body text-center">
			<div class="row">
				<div class="col-md-6">
			<div class="table-holder">
				<table class="table mytable">
					<tr>
						<td><i class="fas fa-user"></i> Student Name:</td>
						<td><p>{{studentTransaction.student.name}}</p></td>
					</tr>
					<tr>
						<td><i class="fas fa-user"></i> Father Name:</td>
						<td><p>{{studentTransaction.student.father}}</p></td>
					</tr>
					<tr>
						<td><i class="fas fa-graduation-cap"></i> Class:</td>
						<td><p>{{studentTransaction.student.class}}</p></td>
					</tr>
				</table>
			</div>
				</div>
				<div class="col-md-6">
					<div class="table-holder">
						<table class="table mytable">
							<tr>
								<td><i class="fas fa-puzzle-piece"></i> Section:</td>
								<td><p>{{studentTransaction.student.section}}</p></td>
							</tr>
							<tr>
								<td><i class="fas fa-phone"></i> Phone:</td>
								<td><p>{{studentTransaction.student.phone}}</p></td>
							</tr>
							<tr>
								<td><i class="fas fa-map-marker"></i> Address:</td>
								<td><p>{{studentTransaction.student.address}}</p></td>
							</tr>
						</table>
					</div>
				</div>
			</div>


			<!-- <div class="row">
				<div class="form-group col-sm-4">
					<strong>Student Name:</strong>{{studentTransaction.student.name}}
				</div>
				<div class="form-group col-sm-4">
					<strong>Father Name:</strong> {{studentTransaction.student.father}}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<strong>Class:</strong>{{studentTransaction.student.class}}
				</div>
				<div class="form-group col-sm-4">
					<strong>Section:</strong>{{studentTransaction.student.section}}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<strong>Phone Number:</strong> {{studentTransaction.student.phone}}
				</div>
				<div class="form-group col-sm-4">
					<strong>Address:</strong> {{studentTransaction.student.address}}
				</div>

			</div> -->
		</div>
	</div>

	<!--  overdue -->
	<div class="card" *ngIf="selected && studentTransaction">
		<div class="card-header">
			<strong>Due Amount</strong>
		</div>
		<div class="card-body text-center">
			<div class="row">
				<div class="col-6 col-lg-5">
					<div class="card mycard due">
						<div class="card-body">
							<div class="pull-left">
								<div class="myicon"><i class="fas fa-rupee-sign"></i></div>
							</div>
							<div class="pull-left">
								<h3>Total Due Amount</h3>
								<p>{{studentTransaction.totalDueAmount}}</p>
							</div>
						</div>
					</div>
					<!-- <div class="card">
						<div class="card-body p-0 clearfix">
							<i class="fas fa-rupee-sign bg-primary p-4 font-2xl mr-3 float-left"></i>
							<div class="h5 text-primary mb-0 pt-3">{{studentTransaction.totalDueAmount}}</div>
							<div class="text-muted text-uppercase font-weight-bold font-xs">Total
								Due Amount</div>
						</div>
					</div>  -->
				</div>
			</div>
			<div class="row" *ngIf="studentTransaction.totalDueAmount !== 0">

				<div class="col-lg-12">


					<table class="table table-striped payment-table">
						<thead>
							<tr>
								<th>Template Name</th>
								<th>Term Fee</th>
								<th>Due Amount</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let due of studentTransaction.CurrentDues; let i = index" class='overdue' [style.color]="due.isOverDue? '#fff' : '#000' " [style.background-color]="due.isOverDue?'#ff7979':'transparent'">
								<td>{{due.template.name}}</td>
								<td>{{due.total}}</td>
								<td>{{due.due}}</td>
								<td>
									<div class='btn-group'>
										<button type="button" class="btn btn-default mybtn" id="receive" data-toggle="modal" (click)="showModal(due)">Receive
										Payment</button>
										<!-- <button type="button" class="btn btn-primary" [disabled]="true"
										(click)="print(due)"><i class="fas fa-print"></i></button> -->
									</div>
								</td>


							</tr>

						</tbody>
					</table>
					<!--   <ul class="pagination">
	            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
	            <li class="page-item active">
	              <a class="page-link" href="#">1</a>
	            </li>
	            <li class="page-item"><a class="page-link" href="#">2</a></li>
	            <li class="page-item"><a class="page-link" href="#">3</a></li>
	            <li class="page-item"><a class="page-link" href="#">4</a></li>
	            <li class="page-item"><a class="page-link" href="#">Next</a></li>
	          </ul> -->

				</div>
			</div>
		</div>
	</div>


	<div class="card" *ngIf="selected && studentTransaction">
		<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
					tertiaryColour: '#2980b9'}"></ngx-loading>
		<div class="card-header">
			<strong>Payment History</strong>
		</div>
		<div class="card-body text-center">

			<div class="row">
				<div class="col-6 col-lg-5">
					<div class="card mycard paid">
						<div class="card-body">
							<div class="pull-left">
								<div class="myicon"><i class="fas fa-rupee-sign"></i></div>
							</div>
							<div class="pull-left">
								<h3>Total Paid Amount</h3>
								<p>{{studentTransaction.totalPaidAmount}}</p>
							</div>
						</div>
					</div>
	<!-- 				<div class="card">
						<div class="card-body p-0 clearfix">
							<i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
							<div class="h5 text-primary mb-0 pt-3">{{studentTransaction.totalPaidAmount}}</div>
							<div class="text-muted text-uppercase font-weight-bold font-xs">Total
								Paid Amount</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="row" *ngIf="studentTransaction.totalPaidAmount !== 0">

				<div class="col-lg-12">

					<table class="table table-striped payment-table">
						<thead>
							<tr>
								<th>Template Name</th>
								<!-- <th>Headers</th> -->
								<th>Amount Paid</th>
								<th>Transaction Date</th>
								<th>Mode</th>
								<th>Invoice/Receipt</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let transaction of studentTransaction.transactions; let i = index">
								<td>{{transaction.template.name}}</td>
								<!-- <td>
									<div
										*ngFor="let afeeHeaderDefinition of transaction.feeHeaderDefinitions; let i = index">
										{{afeeHeaderDefinition.feeHeader.name }} -
										{{afeeHeaderDefinition.amount }}</div>
								</td> -->
								<td>{{transaction.paid}}</td>
								<td>{{transaction.transaction_datetime}}</td>
								<td>
									<span class='label label-default'>{{transaction.mode.name}}</span>

								</td>
								<td *ngIf="transaction.is_receipt === 1">
									<span class="badge-pill badge-secondary">Receipt</span>
									<button class="btn btn-primary btn-sm" id="receive" (click)="receipt(transaction)" name="button"><i class="fas fa-print"></i></button>
								</td>
								<td *ngIf="transaction.is_receipt === 0">
									<span class="badge-pill badge-secondary">Invoice</span>
									<button class="btn btn-primary btn-sm" id="Invoice" (click)="receipt(transaction)" name="button"><i class="fas fa-print"></i></button>
								</td>
							</tr>

						</tbody>
					</table>
					<!--   <ul class="pagination">
	            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
	            <li class="page-item active">
	              <a class="page-link" href="#">1</a>
	            </li>
	            <li class="page-item"><a class="page-link" href="#">2</a></li>
	            <li class="page-item"><a class="page-link" href="#">3</a></li>
	            <li class="page-item"><a class="page-link" href="#">4</a></li>
	            <li class="page-item"><a class="page-link" href="#">Next</a></li>
	          </ul> -->

				</div>

			</div>
		</div>
	</div>
	<div class="card" *ngIf="selected && (studentTransaction == null)">
		<div class="card-body text-center">No Results Found</div>
	</div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
	(onHide)="onCreated($event)">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Receive Payment - {{newTransaction.template.name}}</h4>
				<button type="button" class="close" (click)="modal.hide()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form (ngSubmit)="saveTransaction(newTransaction)" #transactionForm="ngForm">
			<div class="modal-body">

				<div class="card1">
					<!-- <div class="card-header1">
						<h3>Receive Payment - {{newTransaction.template.name}}</h3>
					</div> -->
					<div class="card-body1">

							<!-- <div class="form-group">
								<input [value]="newTransaction.template.name"
									class="form-control" type="text" id="templateName" disabled>
							</div> -->
							<div class="row">
								<div class="col-6"></div>
									<div class="form-group col-6 row">
											
											<h5 class="col-6 my-2">Transaction Date :</h5>
											<input type="text"
											class="form-control col-6"
											#dp="bsDatepicker"
											bsDatepicker
											readonly
											name="transaction_datetime"
											[(ngModel)]="newTransaction.transaction_datetime"
											[maxDate]="today"
											[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
									</div>
							</div>
							
							<div class="form-group">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Fee Header</th>
											<th>Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr
											*ngFor="let afeeHeaderDefinition of newTransaction.feeHeaderDefinitions; let i = index">
											<td><label>
													{{afeeHeaderDefinition.feeHeader.name }} </label></td>
											<td><label> {{afeeHeaderDefinition.amount }} </label></td>


										</tr>

									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p class="btn btn-danger btn-block">
									Due Amount : {{newTransaction.due}}
								</p>
								</div>

							</div>
							<div class="row">

								<!-- <div class="form-group col-sm-4">

									<label for="class">Due Amount : {{newTransaction.due}}</label>

								</div> -->
								<div class="form-group col-sm-6">
									<label for="paidAmount">Enter Amount:</label> <input
										type="number" class="form-control" id="paidAmount"
										placeholder="Enter the Amount to Pay."
										[min]="0"
										#paidAmount="ngModel"
										required
										[max]="newTransaction.due"
										[(ngModel)]="newTransaction.paid" name="paidAmount">
										<div [hidden]="newTransaction.paid <= newTransaction.due  || paidAmount.pristine"
											class="alert alert-danger">Payment Amount should not greater than the Due</div>
								</div>
								<div class="form-group col-sm-6">

									<label for="modeId">Mode of Payment:</label> <select
										class="form-control" id="modeId"
										[(ngModel)]="newTransaction.mode" name="modeId" required
										#modeId="ngModel">
										<option *ngFor="let mode of modes" [ngValue]="mode">{{mode.name}}</option>
									</select>


									<div [hidden]="modeId.valid || modeId.pristine"
										class="alert alert-danger">Payment Mode is required</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12">

									<label for="bankName">Bank Name</label> <input type="text"
										class="form-control" id="bankName"
										[disabled]="newTransaction.mode?.id === 1"
										#bankName="ngModel"
										[required]="newTransaction.mode?.id !== 1"
										placeholder="Enter the Bank Name."
										[(ngModel)]="newTransaction.bankName" name="bankName">


								</div>
								<div class="form-group col-sm-6">

									<label for="chequeNo">Cheque No.</label> <input type="text"
										class="form-control" id="chequeNo"
										[disabled]="newTransaction.mode?.id !== 4"
										#chequeNo="ngModel"
										[required]="newTransaction.mode?.id === 4"
										placeholder="Enter the Cheque No."
										[(ngModel)]="newTransaction.chequeNo" name="chequeNo">


								</div>

								<div class="form-group col-sm-6">

									<label for="chequeDate">Cheque Date</label> <input type="text"
										class="form-control" id="chequeDate"
										[disabled]="newTransaction.mode?.id !== 4"
										#chequeDate="ngModel"
										[required]="newTransaction.mode?.id === 4"
										placeholder="Enter the Cheque Date."
										[(ngModel)]="newTransaction.chequeDate" name="chequeDate">


								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">

									<label for="creditCardName">Credit Card Name</label> <input
										type="text" class="form-control" id="creditCardName"
										[disabled]="newTransaction.mode?.id !== 3"
										placeholder="Enter the Credit Card Holder Name."
										[required]="newTransaction.mode?.id === 3"
										#creditCardName="ngModel"
										[(ngModel)]="newTransaction.creditCardName"
										name="creditCardName">


								</div>
								<div class="form-group col-sm-6">

									<label for="creditCardNo">Credit Card No</label> <input
										type="number" class="form-control" id="creditCardNo"
										placeholder="Enter the Credit Card No."
										[disabled]="newTransaction.mode?.id !== 3"
										[required]="newTransaction.mode?.id === 3"
										#creditCardNo="ngModel"
										[(ngModel)]="newTransaction.creditCardNo" name="creditCardNo">


								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">

									<label for="debitCardName">Debit Card Name</label> <input
										type="text" class="form-control" id="debitCardName"
										placeholder="Enter the Debit Card Holder Name."
										[disabled]="newTransaction.mode?.id !== 2"
										[required]="newTransaction.mode?.id === 2"
										#debitCardName="ngModel"
										[(ngModel)]="newTransaction.debitCardName"
										name="debitCardName">


								</div>
								<div class="form-group col-sm-6">


									<label for="debitCardNo">Debit Card No</label> <input
										type="number" class="form-control" id="debitCardNo"
										placeholder="Enter the Debit Card No."
										[required]="newTransaction.mode?.id === 2"
										[disabled]="newTransaction.mode?.id !== 2"
										#debitCardNo="ngModel"
										[(ngModel)]="newTransaction.debitCardNo" name="debitCardNo">

								</div>
							</div>



							<!-- 	<div class="form-group">
								<label for="id">id</label> <input type="text"
									class="form-control" id="id"
									placeholder="Enter the fee structure id"
									[(ngModel)]="due.id" name="id">

							</div>
 -->


					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success"
				id="submit_transaction"
					[disabled]="!transactionForm.form.valid || disabled || newTransaction.paid > newTransaction.due "
					>Submit</button>

				<button type="button" class="btn btn-secondary"
				id="cancel"
					(click)="refresh()">Cancel</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
		id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
		id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
