/*font-family: 'Ubuntu', sans-serif;*/
body {
	background-color: #ecf0f1 !important;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li,ol {
	font-family: 'Ubuntu', sans-serif;
}
.search_holder {
	position: relative;
    background-color: rgba(255,255,255,0);
    padding: 0px;
    margin: 0px;
    height: 50px;
    overflow: visible;
}
.search_holder svg {
	position: relative;
	bottom: 40px;
	left: 20px;
	font-size: 14px;
	width: 18px;
	height:18px;
	color: rgba(189, 195, 199,1.0);
	background-color: transparent;
}
.search_holder input {
	padding: 15px;
	font-size: 20px;
	padding-left: 50px;
	border:none;
	outline: none;

}
.mytabel {
	padding: 20px;
}
.modal-content .table thead th {
	border: none;
}
.table-holder {
	padding: 20px;
}
.mytable tr td {
	text-align: left;
	font-weight: 500;
	text-transform: capitalize;
	color: #000;
}
.mytable tr {
	border-bottom: 1px solid rgba(189, 195, 199,.2);
}
.mytable tr td p {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}
.overdue .mybtn {
	background-color: rgba(231, 76, 60,1.0);
	color: #fff;
}
/* .overdue .mybtn:after {
	content: " - Overdue"
} */
.mytable tr td p {
	text-transform: capitalize;
}
.mytable tr td p:first-letter {
	text-transform: capitalize;
}
.mytable tr td:first-child {
	font-weight: 700;
	width: 36%;
	color: rgba(127, 140, 141,1.0);
}
.mytable tr td svg {
	margin-right: 10px;
	color: rgba(189, 195, 199,1.0);
}
.table td {
	border: none !important;
	font-family: 'Ubuntu', sans-serif;
}
.mycard {
	background-color: #2980b9 ;
	border:none !important;
	margin: 20px;
}
.mycard.due {
	background-color: rgba(231, 76, 60,1.0);
}
.mycard.paid {
	background-color: rgba(26, 188, 156,1.0);
}
.mycard.due .card-body .myicon {
	background-color: rgba(192, 57, 43,1.0);
}
.mycard.paid .card-body .myicon {
	background-color: rgba(22, 160, 133,1.0);
}

.card .card-body {
	padding: 0px !important;

}
.card .card-body .myicon {
	width: 80px;
	height: 64px;
	color: #fff;
	background-color: #3498db;
	text-align: center;
	font-size: 22px;
}
.card .card-body .myicon svg {
	vertical-align: middle;
	margin-top: 20px;
}
.card .card-body p {
	text-align: left;
	margin:0px;
	padding: 0px;
	/*padding-top:5px;*/
	margin-left: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.card .card-body h3 {
	text-align: left;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px;
	margin:0px;
	/*padding-top: 5px;*/
	margin-top: 14px;
	margin-left: 20px;
	color: #fff;
}
.payment-table tr td, .payment-table tr th {
	text-align: left;
}
.payment-table tr td:last-child, .payment-table tr th:last-child {
	text-align: right;
}
.fix-margin{
	    margin-right: 15px;
}
.map-btn{
	width: 200px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}
