<div class="animated fadeIn">
	<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
        tertiaryColour: '#2980b9'}"></ngx-loading>
	<div class="row">
		<div class="col-lg-12">
			<div class="card">

				<div class="card-body">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
					id="add_discount"
						(click)="showModal(true,null)">Add/Edit</button>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="row">
    <div  class="col-md-6">
        <div  class="card mycard discount">
            <div  class="card-body">
                <div class="pull-left">
                <div class="myicon">
                    <i class="fas fa-rupee-sign"></i>
                </div>
                </div>
                <div  class="pull-left">
                    <h3>Total Discount </h3>
                    <p>{{discountDashboard?.dashboard.totalDiscount}}</p>
                </div>
            </div>
        </div>
    </div>
    <div  class="col-md-6">
        <div  class="card mycard students">
            <div class="card-body">
                <div  class="pull-left">
                	<div class="myicon">
                    <i class="fa fa-users fa-lg"></i>
                    </div>
                </div>
                <div class="pull-left">
                    <h3>No of Students Discount given </h3>
                    <p>{{discountDashboard?.dashboard.noOfstudentDiscountGiven}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
		</div>
		<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">Discount Classes
			</div>
			<div class="card-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Class</th>
							<th>Student Count</th>
						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let discountClass of discountDashboard?.dashboard.discountClasses">
							<td>{{discountClass.name}}</td>
							<td><span class="bubble">{{discountClass.studentsCount}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
	</div>

</div>
<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
		id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
	(onHide)="onCreated($event)">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ title }}</h4>
				<button type="button" class="close" (click)="modal.hide()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form (ngSubmit)="saveDiscount()" #templateForm="ngForm">
			<div class="modal-body">

				<div class="card">
					<div class="card-header">
						<strong>Template</strong> <small>Name</small>
					</div>
					<div class="card-body">



							<div class="form-group">
								<ng-template #customItemTemplate let-model="item"
									let-index="index">
								<h5>Name: {{model.name}}, Class: {{model.class}} ,
									Section : {{model.section}}</h5>
								</ng-template>

								<input [(ngModel)]="search"
									[typeaheadItemTemplate]="customItemTemplate"
									[typeahead]="dataSource"
									(typeaheadLoading)="changeTypeaheadLoading($event)"
									(typeaheadNoResults)="changeTypeaheadNoResults($event)"
									(typeaheadOnSelect)="typeaheadOnSelect($event)"
									[typeaheadOptionsLimit]="40" typeaheadOptionField="name"
									required
									autocomplete="off"
									placeholder="Search Student" class="form-control" name="search">
							</div>
							<div class="form-group">
								<label for="templateId">Select Template : </label> <select
									class="form-control"
									[(ngModel)]="selectedTemplate"
									required
									(change)="templateid($event)"
									name="template" #template="ngModel">
									<option *ngFor="let studentTemplate of studentTemplates"
										[ngValue]="studentTemplate"
										>{{studentTemplate.name}}</option>
								</select>
								<div [hidden]="template.valid || template.pristine"
									class="alert alert-danger">Template is required</div>
							</div>
							<div class="form-group" *ngIf="selectedTemplate !== null">
								<table class="table table-bordered">
									<thead>
										<th>Fee Header</th>
										<th>Amount</th>
										<th>Discount</th>
									</thead>
									<tbody>
										<tr  *ngFor="let discountFee of selectedTemplate?.discountFeeHeaderDefinitions;let i = index">
											<td>
												<div class="form-group">
													<input [(ngModel)]="discountFee.feeHeader.name" type="text" name="{{selectedTemplate.discountFeeHeaderDefinitions[i].feeHeader.name}}" disabled class="form-control ">
												</div>
											</td>
											<td>
												<div class="input-group">
													<span class="input-group-addon"><i class="fas fa-rupee-sign"></i></span>
													<input [(ngModel)]="discountFee.amount"
													aria-label="Amount" type="number" disabled
													[ngModelOptions]="{standalone: true}"
													placeholder="Amount" class="form-control ">
												</div>
											</td>
											<td>
												<div class="input-group">
													<span class="input-group-addon"><i class="fas fa-rupee-sign"></i></span>
													<input [(ngModel)]="discounts[discountFee.feeHeader.id]" aria-label="Discount" #discount="ngModel" type="number" [min]="0"  [max]="discountFee.amount" [ngModelOptions]="{standalone: true}" placeholder="discount" class="form-control">
													<!-- <span class="input-group-addon">%</span> -->
												</div>
												<div [hidden]="discounts[discountFee.feeHeader.id] <= discountFee.amount || discount.pristine"
													class="alert alert-danger">Discount should not greater than Header Amount</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>


					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success"
					[disabled]="!templateForm.form.valid || disabled || selectedTemplate?.isFreeze" id="discount_submit" (click)="saveDiscount()">Submit</button>

				<button type="button" class="btn btn-secondary"
				id="cancel"
					(click)="modal.hide()">Cancel</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
		id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
