 .mycard {
	background-color: #2980b9 ;
	border:none !important;
	margin: 20px;
}
.mycard.discount {
	background-color: rgba(231, 76, 60,1.0);
}
.mycard.students {
	background-color: rgba(26, 188, 156,1.0);
}
.mycard.discount  .myicon {
	background-color: rgba(192, 57, 43,1.0);
}
.mycard.students .myicon {
	background-color: rgba(22, 160, 133,1.0);
}

.mycard.card .card-body {
	padding: 0px !important;

}
.mycard .myicon {
	width: 80px;
	height: 70px;
	color: #fff;
	background-color: #3498db;
	text-align: center;
	font-size: 22px;
}
.card .card-body .myicon svg {
	vertical-align: middle;
	margin-top: 20px;
}
.mycard p {
	text-align: left;
	margin:0px;
	padding: 0px;
	padding-top:5px;
	margin-left: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.mycard h3 {
	text-align: left;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px;
	margin:0px;
	padding-top: 5px;
	margin-top: 14px;
	margin-left: 20px;
	color: #fff;
} 
.bubble{
	width: 21px;
    border-radius: 1.2em;
    padding: 7px;
    background-color: #3498db;
    color: #fff;
}
.card-header{
	background-color: #3498db;
    color: #fff;
    font-size: 18px;
}
.fix-margin{
	    margin-right: 15px;
}
.map-btn{
	width: 200px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}