.fix-margin{
	    margin-right: 15px;
}
.map-btn{
	width: 200px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 1rem;
	color: #151b1e;
	background: #f0f3f5;
	border-top: 1px solid #c2cfd6;
	width: 100%;
	text-align: center;
}
