<app-header [schoolLogo]="logo"></app-header>
<div *ngIf="!change" class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group">
					<div class="card p-4">
						<div class="card-body">
							<h1>Login</h1>
							<p class="text-muted">Sign In to your account</p>
							<form (ngSubmit)="login()" #loginForm="ngForm">
								<div class="input-group mb-3">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<input type="text" class="form-control" placeholder="Username"
										[(ngModel)]="loginObj.username" required #username="ngModel"
										name="username">
									<div [hidden]="username.valid || username.pristine"
										class="alert alert-danger">User Name is required</div>
								</div>
								<div class="input-group mb-4">
									<span class="input-group-addon"><i class="icon-lock"></i></span>
									<input type="password" class="form-control"
										placeholder="Password" [(ngModel)]="loginObj.password" required
										#password="ngModel" name="password">
									<div [hidden]="password.valid || password.pristine"
										class="alert alert-danger">Password is required</div>
								</div>

								<div class="row">
								<div [hidden]="logged"
										class="alert alert-danger">User name or Password is Wrong. Please try again.
								</div>
								<div class="col-5">

								</div>
									<div class="col-3">

										<!-- <button type="link" (click)="isLogin = 0">Change Password</button> -->
										<button type="submit" class="btn btn-primary px-4"
										id="login"
											[disabled]="isLoading" (click)="login()">Login</button>

									</div>
									<div class="col-4">

									</div>

									<!--  <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div *ngIf="change" class="app flex-row align-items-center">
	<div class="container">
	<!-- <ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
        tertiaryColour: '#2980b9'}"></ngx-loading> -->
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group">
					<div class="card p-4">
						<div class="card-body">
							<h2 class="text-center">Change Password</h2>
							<p class="text-muted"></p>
							<form #changePasswordForm="ngForm">
								<div class="row">
									<div class="input-group mb-4">
										<span class="input-group-addon"><i class="icon-lock"></i></span>
										<input [type]="inputType" class="form-control"
											placeholder="Old Password" [(ngModel)]="oldPassword" required
											#old="ngModel" name="password">
									</div>
									<div *ngIf="old.invalid && (old.dirty || old.touched)"
									class="alert alert-danger">
										<div *ngIf="old.errors.required">
											Old Password is required
										</div>

									</div>
									<div class="input-group mb-4">
										<span class="input-group-addon"><i class="icon-lock"></i></span>
										<input  [type]="inputType" class="form-control"
											placeholder="New Password" [pattern]="passwordPattern" [(ngModel)]="newPassword" required
											#new="ngModel" name="newPassword">
											<!-- <button name="button" (click)="inputType = (showPassword ? 'text': 'password' ); showPassword = false"><i [ngClass]="showPassword ? 'far fa-eye-slash' : 'fas fa-eye'"></i></button> -->
											<!-- <ng-template *ngIf="!showPassword; else hidePassword" >
												<button name="button" (click)="inputType = 'text'"><i class="fas fa-eye"></i></button>
											</ng-template>
											<ng-template #hidePassword>

											</ng-template> -->
									</div>
									<div *ngIf="new.invalid && (new.dirty || new.touched)"
									class="alert alert-danger">
										<div *ngIf="new.errors.pattern">
											Use 8 or more characters with a mix of letters, numbers & symbols
										</div>
										<div *ngIf="new.errors.required">
											New Password is required
										</div>

									</div>
									<div class="input-group mb-4">
										<span class="input-group-addon"><i class="icon-lock"></i></span>
										<input [type]="inputType" class="form-control"
											placeholder="Confirm Password" [(ngModel)]="confirmPassword" required
											#confirm="ngModel" name="oldPassword">
									</div>
									<div *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)"
									class="alert alert-danger">
										<div *ngIf="confirm.errors.required">
											Please enter new password again
										</div>

									</div>
									<div class="input-group mb-4">
										<span class="input-group-addon"><i class="icon-lock"></i></span>
										<input type="password" class="form-control"
											placeholder="Enter OTP" required [(ngModel)]="otp" minlength="4" maxlength="4"
											#OTP="ngModel" name="otp">
									</div>
									<div *ngIf="OTP.invalid && (OTP.dirty || OTP.touched)"
									class="alert alert-danger">
										<div *ngIf="OTP.errors.minlength">
											Please enter OTP of 4 characters
										</div>
										<div *ngIf="OTP.errors.required">
											Please Enter OTP
										</div>

									</div>
									<div class="form-group col-12">
										<input type="checkbox" (change)="inputType = (showPassword ? 'text': 'password')" [(ngModel)]="showPassword" name="showPassword" value="Show Password">
										<label for="showPassword">Show Password</label>
										<button class="pull-right btn btn-primary"
										 [disabled]="!isOtpSent && (newPassword?.length >= 8 && oldPassword?.length >=8) ? newPassword !== confirmPassword : true"
										  (click)="getOtp()">Get OTP</button>
									</div>
									<!-- <div [hidden]="isOtpSent">{{ackMsg}}</div> -->
								<div [hidden]="!isPasswordMatched"
										class="alert alert-danger">Passwords did not match.
								</div>

								<div class="col-6">
									<button type="submit" class="btn btn-success px-4"
										[disabled]="!changePasswordForm.form.valid" (click)="changePassword()">Submit</button>
								</div>
								<div class="col-6 pt-2">
									<a class="pull-right" routerLink="/home/dashboard"><u>Back to Home</u></a>
								</div>

								<!-- <div [hidden]="logged"
										class="alert alert-danger">Old password is not valid . Please try again.
								</div> -->


									<!--  <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container">
	<div class="justify-content-center row">
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
			<img src="http://tabprod.schoolcom.in/schoolonweb/login/images/schoolcom-logo.jpg" alt="">
		</div>
		<div class="col-md-4">

		</div>

	</div>
</div> -->
<footer class="footer">
	<span><a href="http://www.Schoolcom.in"></a> © 2018 - Schoolcom</span>
</footer>
<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p class="ack-msg">{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-success"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
