.payment-table tr td, .payment-table tr th {
    text-align: left;
    
}
.payment-table tr th  {
	padding-right: 8%;
}
.payment-table tr td:last-child, .payment-table tr th:last-child {
    text-align: right;
}
.mycard {
	background-color: #2980b9 ;
	border:none !important;
	margin: 20px;
}
.mycard.paid {
	background-color: rgba(26, 188, 156,1.0);
}
.mycard.paid .card-body .myicon {
	background-color: rgba(22, 160, 133,1.0);
}

.mycard .card-body {
	padding: 0px !important;
	margin-left: -4%;
}
.card .card-body .myicon {
	width: 80px;
	height: 64px;
	color: #fff;
	background-color: #3498db;
	text-align: center;
	font-size: 22px;
}
.card .card-body .myicon svg {
	vertical-align: middle;
	margin-top: 20px;
}
.card .card-body p {
	text-align: left;
	margin:0px;
	padding: 0px;
	/*padding-top:5px;*/
	margin-left: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.card .card-body h3 {
	text-align: left;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0px;
	margin:0px;
	/*padding-top: 5px;*/
	margin-top: 14px;
	margin-left: 20px;
	color: #fff;
}
.fix-margin{
	    margin-right: 15px;
}
.map-btn{
	width: 200px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}