<div class="animated fadeIn">
			<div class="card">
				<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
							tertiaryColour: '#2980b9'}"></ngx-loading>
				<div class="card-body">
					<div class="row">
					<div class="col-lg-12">
			<h2><span class="pull-left">Student-Wise Fee Structure</span>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
										id="add_studentStructure"
						(click)="showModal(true,null)"><i class="fa fa-plus fa-lg"></i></button>
                    <b class="clearfix"></b></h2>
					<table class="table table-striped payment-table" *ngIf="feeStructures?.length > 0">
						<thead>
							<tr class="bg-primary">
								<th>Template Name</th>
								<th>Over Due Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
              <ng-container *ngFor="let feeStructure of feeStructures; let i = index">
                <tr *ngIf="!feeStructure.is_class_template">
                  <td>{{feeStructure.template.name}}</td>
                  <td>{{feeStructure.template.overdueDate}}
                    <button class="btn btn-secondary btn-sm pull-right" id="viewStudents" (click)="showStudents(feeStructure)">View Students</button>
                  </td>
                  <td><button type="button" class="btn btn-success"
										id="edit_studentStructure"
                      (click)="showModal(false,feeStructure)">Edit</button>
                    <button type="button" class="btn btn-danger" [disabled]="feeStructure.isFreeze"
										id="delete_studentStructure"
                        (click)="setFeeStructure(feeStructure)">Delete</button></td>
                </tr>
              </ng-container>


						</tbody>
					</table>
					<!--   <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
          </div>
					<div class="col-lg-12 text-center" *ngIf="feeStructures?.length === 0 || feeStructures === undefined">
           <div class="alert alert-primary" role="alert">
             <h4>No Fee Structure Found. Please click on <i class="fas fa-plus"></i> Icon to create </h4>
           </div>
         </div>
          </div>
				</div>
			</div>


</div>
<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
		id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #viewStudents="bs-modal" tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">View Students </h4>
				<button type="button" class="close" (click)="viewStudents.hide()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card">
					<div class="card-header">
						<strong style="font-size:18px">{{feeStructure.template?.name}} <span class="pull-right">Total to be Paid: <i class="fa fa-rupee-sign"></i> {{feeStructure.total}}</span></strong>
						</div>
					<table class="table table-striped">
						<thead>
							<th>Student Name</th>
							<th>Class</th>
							<th>Section</th>
						</thead>
						<tbody>
							<tr *ngFor="let student of feeStructure?.students;">
								<td>{{student.name}}</td>
								<td>{{student.className}}</td>
								<td>{{student.section}}</td>
							</tr>
						</tbody>
					</table>

			</div>
		</div>
		<div class="modal-footer">
	<button type="button" class="btn btn-secondary"
	id="cancel_view"
		(click)="viewStudents.hide()">Cancel</button>
</div>
	</div>

</div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
	(onHide)="onCreated($event)">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ title }}</h4>
				<button type="button" class="close" (click)="modal.hide()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form (ngSubmit)="saveFeeStructure()" #feeStructureForm="ngForm">
			<div class="modal-body">

				<div class="card">
					<div class="card-header">
						<strong>Fee Structure</strong>
					</div>
					<div class="card-body">


							<div class="form-group">
								<label for="template">Select Template : </label> <select
									class="form-control" id="template"
									[(ngModel)]="feeStructure.template"
									[disabled]="feeStructure.id !== -1"
									(change)="checkTemplate($event.target)" name="template" required
									#template="ngModel">
									<option *ngFor="let template of templates"
									[disabled]="feeTemplates[template.id] !== undefined"
									[ngValue]="template">{{template.name}}</option>
								</select>
								<!-- <div [hidden]="template.valid || template.pristine"
									class="alert alert-danger">Template Name is required</div> -->
							</div>
							<div class="form-group">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Fee Header</th>
											<th>Amount</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											*ngFor="let afeeHeaderDefinition of feeStructure.feeHeaderDefinitions; let i = index">
											<td>
												<div class="form-group">
													<input [value]="afeeHeaderDefinition.feeHeader.name"
														class="form-control" type="text" id="name" disabled>
												</div>
											</td>
											<td>
											<div class="input-group">
													<span class="input-group-addon"><i class="fas fa-rupee-sign"></i></span>
													<input [value]="afeeHeaderDefinition.amount"
														class="form-control" type="number" disabled
														 name="amount"
														 aria-label="Amount">
											</div>
											<!-- <input [value]="afeeHeaderDefinition.amount"
												class="form-control" type="text" id="name" disabled> -->
											</td>

											<td>
												<button class="btn btn-danger" type="button"
												id="delete_header"
													[disabled]="feeStructure.isFreeze"
													(click)="deleteDefinition(i)">Delete</button>
											</td>
										</tr>

										<tr>
											<td>
												<div class="form-group">
													<select class="form-control" id="feeHeader"
														[(ngModel)]="feeHeaderDefinition.feeHeader"
														name="feeHeader" #feeHeader="ngModel">
														<option *ngFor="let feeHeader of feeHeaders"
															[ngValue]="feeHeader" [disabled]="headerSelector[feeHeader.id]">{{feeHeader.name}}</option>
													</select>

													<div [hidden]="feeHeader.valid || feeHeader.pristine"
														class="alert alert-danger">Fee Header is required</div>
												</div>
											</td>
											<td>
											<div class="input-group">
  												<span class="input-group-addon"><i class="fas fa-rupee-sign"></i></span>
  												<input [(ngModel)]="feeHeaderDefinition.amount"
														class="form-control" type="number" id="amount"
														placeholder="Enter the amount" name="amount" required
														#amount="ngModel" aria-label="Amount">
												<div [hidden]="amount.valid || amount.pristine"
													class="alert alert-danger">Amount is required</div>
  												<!-- <span class="input-group-addon">.00</span> -->

											</div>
											<!-- <input [(ngModel)]="feeHeaderDefinition.amount"
												class="form-control" type="number" id="amount"
												placeholder="Enter the amount" name="amount" required
												#amount="ngModel"> -->
												</td>



											<td>
												<button class="btn btn-success" type="button"
												id="add_header"
												 [disabled]="feeHeaderDefinition.feeHeader === null ||feeHeaderDefinition.amount <= 0 || feeStructure.isFreeze"
													(click)="addDefinition()">Add</button>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
							<div class="col-md-3"></div>
							<div class="card mycard paid col-md-6">
								<div class="card-body">
									<div class="pull-left">
									<div class="myicon"><i class="fas fa-rupee-sign"></i></div>
									</div>
									<div class="pull-left">
										<h3>Total  Amount</h3>
										<p>{{feeStructure.total}}</p>
									</div>
								</div>
							</div>
							<!-- <div class="col-md-3"></div>
							<div class="form-group row">
								<div class="col-md-12 col-form-label">
										<div class="form-check form-check-inline mr-5">
											<input class="form-check-input" type="radio" [disabled]="feeStructure.is_class_template === 0" id="inline-radio1" [(ngModel)]="feeStructure.is_class_template" [value]="1" name="inline-radios">
											<label class="form-check-label" for="inline-radio1">Class Wise</label>
										</div>
										<div class="form-check form-check-inline mr-5">
											<input class="form-check-input" type="radio" id="inline-radio2" [(ngModel)]="feeStructure.is_class_template" [value]="0" name="inline-radios">
											<label class="form-check-label" for="inline-radio2">Student Wise</label>
										</div>
								</div>
							</div> -->
							</div>
							<div class="form-check checkbox col-md-12 text-center">
									<input class="form-check-input" type="checkbox" [checked]="!withStudents" (change)="proceed($event.target.checked)" value="" id="check1">
									<label for="check1">
									Proceed without Students
									</label>
									</div>
              				<div class="row" *ngIf="withStudents">
								<div class="form-group col-md-4">
									<label for="class">Select Class : </label> <select
										class="form-control" id="class"
										(change)="getSections()"
										[(ngModel)]="feeStructure.class" name="class"
										#class="ngModel">
										<option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
									</select>
									<div [hidden]="class.valid || class.pristine"
										class="alert alert-danger">Class Name is required</div>
								</div>
                				<div class="form-group col-md-4">
									<label for="class">Select Section : </label>
									<select	class="form-control" id="class"
										[(ngModel)]="selectedSection"
										(change)="getStudents()"
										name="sections"
										#section="ngModel">
									<option value="0">Un-Mapped Sections</option>
										<option *ngFor="let section of sections" [ngValue]="section.id">{{section.name}}</option>
									</select>
								</div>
                				<div class="form-group col-md-2" *ngIf="feeStructure.id !== -1">
									<div> <label for="">&nbsp;</label></div>
									<a class="btn btn-primary" id="viewStudents" [routerLink]="['/home/students/view-students', {fs_id: feeStructure.id}]" target="_blank"> List</a>
									<!-- <button type="button" class="btn btn-primary form-control" id="viewStudents" [ (click)="listStudents(feeStructure.id)">List</button> -->
								</div>
							</div>
						

							<!-- <div class="row" *ngIf="feeStructure.is_class_template !== 1"> -->
								<div class="row" *ngIf="withStudents">
                  <div class="form-group col-md-12" *ngIf="selectedSection !== null && students?.length > 0">
  									<label for="class">Select Students : </label>
  									<!-- <ss-multiselect-dropdown required  [options]="options" [texts]="myTexts"
  									 #students="ngModel" name="students" [(ngModel)]="selectedStudents"
  									 [settings]="mySettings">
  								 	</ss-multiselect-dropdown> -->
                    <div class="form-group row" *ngFor="let student of students">
                      <label class="col-md-6" for="{{student.name}}">{{student.name}}</label>
                      <button class="btn col-md-2 {{studentObjects[student.id] === 'Remove' ? 'btn-danger' : 'btn-success'}}" id="assign/remove" [disabled]="freezedStudents[student.id]" type="button"  (click)="assignStudent(student.id)"> <span>{{ studentObjects[student.id]}}</span> </button>
                    </div>
  								</div>
                </div>
								<div class="col-lg-12 text-center" *ngIf="isPending">
			           <div class="alert alert-primary" role="alert">
			             <h4>Please Wait...</h4>
			           </div>
			         </div>
								<div class="col-lg-12 text-center" *ngIf="selectedSection !== null && students?. length === 0">
			           <div class="alert alert-primary" role="alert">
			             <h4>No Students Found</h4>
			           </div>
			         </div>

							<!-- </div> -->


								<!-- <div [hidden]="class.valid || class.pristine"
									class="alert alert-danger">Class Name is required</div> -->



					<!-- <div class="form-group">
								<label for="id">id</label> <input type="text"
									class="form-control" id="id"
									placeholder="Enter the fee structure id"
									[(ngModel)]="feeStructure.id" name="id">

							</div> -->



					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success"
				id="student_submit"
					[disabled]="!feeStructureForm.form.valid || !isValid || disabled">Submit</button>

				<button type="button" class="btn btn-secondary"
				id="cancel"
					(click)="refresh()">Cancel</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #confirm=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="confirm.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">
		<button type="submit" class="btn btn-success"
		id="confirm_delete"
			(click)="delete(feeStructure)" [disabled]="feeStructure.isFreeze">Submit</button>
		<button type="button" class="btn btn-secondary"
		id="confirm_cancel"
			(click)="confirm.hide()">Cancel</button>
	</div>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
		id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
