
.mytable th {
    background-color: rgba(26, 188, 156,1.0);
    color: #fff;
}
.pull-left{
	font-family: Roboto;
}
.fix-margin{
	    margin-right: 15px;
}
.map-btn{
	width: 200px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}