<div class="card">
    <div class="card-body">
      <ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9',backdropBorderRadius:'0.4em', secondaryColour: '#2980b9',
            tertiaryColour: '#2980b9'}"></ngx-loading>
        <div class="row">
            <div class="col-md-12">
                <h2><span class="pull-left">Internal Communication</span>
                    <button class="btn btn-success pull-right" id="add_authority" data-toggle="modal" (click) = "authorityModal.show()"><i class="fa fa-plus fa-lg"></i></button>
                    <b class="clearfix"></b></h2>
                <table class="table table-striped mytable">
                    <thead>
                    <tr>
                        <th>Stake holder</th>
                        <th>Number</th>
                    </tr>
                    </thead>
                    <tbody >
                    	<tr *ngFor="let authority of authorities;let i = index">
                    		<td>{{authority.name}}</td>
                    		<td>{{authority.mobile}}</td>
                    </tbody>
                </table>
                <h2><span class="pull-left">Parent Communication</span> <b class="clearfix"></b></h2>

                <table class="table table-striped mytable">
                    <thead>
                    <tr>
                        <th>Alert Type</th>
                        <th>Template</th>
                        <th>Action</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody >
                    	<tr *ngFor="let template of smsTemplates;let i=index">
                    		<td>{{template.name}}</td>
                    		<td><textarea class="form-control" [(ngModel)]="template.template" placeHolder="Enter Template">{{template.template}}</textarea></td>
                    		<td><label class="switch switch-3d switch-success">
            					<input type="checkbox" class="switch-input" [(ngModel)]="template.enableAlert" [checked]="template.enableAlert">
            					<span class="switch-label"></span>
            					<span class="switch-handle"></span>
          						</label>
          					</td>
          					<td><button class="btn btn-success btn-md" id="update" (click)="saveTemplate(template)">Update</button> </td>
          				</tr>
                    </tbody>
                </table>
                <div class="alert alert-danger text-center" role="alert">
  Note: Please don't change this texts '<span style="font-weight:800">&lt;student_name&gt;</span>' and  '<span style="font-weight:800">&lt;Fee_Classification&gt;</span>'
</div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">
		<button type="button" class="btn btn-secondary"
    id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
    id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div bsModal #authorityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <form class="form myform" #authForm="ngForm">
        <div class="modal-content">
           <div class="modal-header">
				<h4 class="modal-title">Add Authority</h4>
				<button type="button" class="close" (click)="authorityModal.hide()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <div class="modal-body">
                    <div class="form-group">
                        <select (change) = "onChange($event.target)" class="form-control">
                            <option>Select Authority</option>
                            <option *ngFor="let stakeHolder of stakeHolders;let i=index" [value]="stakeHolder.id">{{stakeHolder.name}}</option>
                        </select>

                    </div>
                    <div class="form-group">
                    	<input [(ngModel)] = "stakeHolder.mobile" required #phone="ngModel" minlength="10"  size="10" pattern="[7-9]{1}[0-9]{9}" maxlength="10" name="phone" type="tel" class="form-control" placeholder="Phone Number">
                    	<div [hidden]="phone.valid || phone.pristine"
										class="alert alert-danger">Phone Number is required
									</div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close" (click) = "authorityModal.hide()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save" [disabled]="disabled"  (click) = "saveAuthority()" [disabled]="!authForm.form.valid" >Save changes</button>
            </div>
        </div>
        </form>
    </div>
</div>
