<div class="card" *ngIf="reportData === null">
	<div class="card-body">
	<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
        tertiaryColour: '#2980b9'}"></ngx-loading>
		<div class="row">
			<div class="col-md-12">
				<h2 style="text-align:center">Download Report</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">

			</div>
			<div class="col-md-6">
				<form class="form myForm" (ngSubmit)="downloadReport()" #reportForm="ngForm">
				<div class="row">
					<div class="col-sm-12">
					<label for="select report for">Select Report Type</label>
					<select [(ngModel)]="typeOfReport" required name="type" class="form-control" (change) ="selectClassifications()">
						<option *ngFor="let report of reportType" [ngValue]="report">{{report.text}}</option>
						<!-- <option value=1>Fee Collection</option>
						<option value=2>Due Report</option>
						<option value=3>Overdue Report</option>
						<option value=2>Due &amp; Overdue Report</option>
						<option value=5>Discount Report</option> -->
					</select>
					</div>
				</div>
				<hr>
				<div class="row">
				<div class='col-12 form-group' *ngIf="typeOfReport?.value == 1">
				<label>From Date</label>
		<input type="text" placeholder="From Date"
           class="form-control"   required
           type="date"
           #from="ngModel"
					 required
					 onkeydown="return false"
           name="from"
           [(ngModel)] = "fromDate">
           <div [hidden]="from.valid || from.pristine"
									class="alert alert-danger">From Date is required</div>

	</div>
	</div>
	<div class="row">
	<div class='col-12 form-group' *ngIf="typeOfReport?.value == 1">
		<label>To Date</label>
		<input type="text" placeholder="To Date"
           class="form-control"      required
           type="date" #to="ngModel"
           name="to"
					 required
					 onkeydown="return false"
			[min]="fromDate? fromDate : ''"
           [(ngModel)] = "toDate">
            <div [hidden]="to.valid || to.pristine"
									class="alert alert-danger">To Date is required</div>
	</div>
	</div>
	<div class="row">
	<div class="col-12 form-group" *ngIf="classifications != null">
	<label>Select Classification</label>
	<!-- <select [(ngModel)] = "classfiy" required multiple size="3" name="classify" (change)="selectTemplates()" class="form-control">
		<option *ngFor="let classify of classifications let i = index" value="{{classify.id}}">{{classify.name}}</option>
	</select> -->
	<ss-multiselect-dropdown required  [options]="classifications"
	 [texts]="myTexts" #classify="ngModel" name="classify"
	 [(ngModel)]="classfiy" [settings]="mySettings"
	 (ngModelChange)="selectClasses()">
 </ss-multiselect-dropdown>
	 <div [hidden]="classfiy?.length !== 0"
									class="alert alert-danger">Please Select Classifications</div>
	</div>
	</div>
	<!-- <div class="row">
	<div class="col-12 form-group" *ngIf="reportTemplates != null">
	<label>Select Template</label>
	<ss-multiselect-dropdown required  [options]="reportTemplates"
	[texts]="myTexts" name="template" [(ngModel)]="template"
	[settings]="mySettings" (ngModelChange)="selectClasses()">
</ss-multiselect-dropdown>
	<div [hidden]="template?.length !== 0"
									class="alert alert-danger">Please Select Templates</div>
	</div>
	</div> -->
	<div class="row">
	<div class="col-12 form-group" *ngIf="classfiy != null && classes != null">
	<label>Select Class</label>
	<!-- <select [(ngModel)] = "selectedClass" required multiple size="3" name="classes" class="form-control">
		<option *ngFor="let class of classes; let i = index" value="{{class.id}}">{{class.name}}</option>
	</select> -->
	<ss-multiselect-dropdown required  [options]="classes"
	[texts]="myTexts" name="classes"
	[(ngModel)]="selectedClass"
	[settings]="mySettings" (ngModelChange)="autoCloseOnSelectAll()">
</ss-multiselect-dropdown>
	 <div [hidden]="selectedClass?.length !== 0"
									class="alert alert-danger">Please Select Classes</div>
	</div>
  </div>
  <div class="form-group row">
    <!-- <div class="col-md-12 col-form-label">
      <div class="form-check col-6 form-check-inline mr-1">
      <input class="form-check-input" type="radio" (change)="checked($event.target)" value="1" name="grouped">
      <label class="form-check-label" for="grouped">Grouped</label>
      </div>
      <div class="form-check col-5 form-check-inline mr-1">
      <input class="form-check-input" type="radio" (change)="checked($event.target)" checked value="0" name="grouped">
      <label class="form-check-label" for="ungrouped">Un-Grouped</label>
      </div>
		</div> -->
		<div class="col-4 py-2">
				<label for="grouped">Grouped/Un-Grouped: </label>
				<!-- <span >Grouped</span> -->
		</div>		
		 <ui-switch name="grouped" checkedLabel="Grouped" uncheckedLabel="Un-Grouped" (change)="checked()"></ui-switch>
			<div class="col-4">
					<!-- <span class="pull-right" >Un-Grouped</span> -->
			</div>
			
    </div>
	<div class="row">
	<div class="col-12 form-group">
		<button type="button" class="btn btn-primary btn-block" id="download" (click)="downloadReport()" [disabled]="!reportForm.form.valid || isLoading">Export</button>
	</div>
	</div>
	</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
<div class="card" *ngIf="reportData">
	<div class="m-3">
		<button class="btn btn-success print-btn" (click)="downloadPdf()">Download PDF</button>
		<button class="btn btn-secondary pull-right back-btn" (click)="reportData = null;isGrouped = 0">Back</button>
	</div>
	<div class="card-body" id="print_div">
			<div class="container" *ngIf="reportData !== null || reportData !== undefined">
				<div class="text-center"><h1>{{typeOfReport.text}}</h1></div>
				<table class="table table-borderless" id="report_info">
					<thead>
							<tr>
									<th>Class: {{classNames}}</th>
									<th class="pull-right">Classifications: {{classificationNames}}</th>
								</tr>
								<tr>
									<th>{{isGrouped === 1 ? 'Grouped' : 'Un-Grouped'}}</th>
									<th class="pull-right">Date: {{currentDate}}</th>
								</tr>
					</thead>
				</table>
				<!-- <div class="row">
					<div class="col-6 display-5">Class: <span class="">{{classNames}}</span></div>
					<div class="col-6">
						<div class="pull-right display-5">
								Classification: <span class="">{{classificationNames}}</span>
						</div>
					</div>
					<div class="col-6">
						<span class="display-5" *ngIf="isGrouped === 1; else ungrouped">Grouped</span>
						<ng-template #ungrouped><span class="">Un-Grouped</span></ng-template>
					</div>
					<div class="col-6">
						<div class="pull-right display-5">
							Date: <span class="">{{currentDate}}</span>
					</div></div>
				</div> -->
          <table id="class_overview" class="table table-striped" *ngIf="reportData.report.length > 0">
            <thead>
              <tr class="bg-info">
                <th>Class Name</th>
                <th class="pull-right">Total</th>
              </tr>
            </thead>
           <tbody>
             <ng-container *ngFor="let class of reportData.report">
              <tr>
                <td>{{class.class_name}}</td>
                <td class="pull-right">{{class.total_amount}}</td>
              </tr>
             </ng-container>
					 </tbody>
					 <tfoot>
						  <tr>
               <th>Overall Total</th>
               <th class="pull-right">{{reportData.total}}</th>
             </tr>
					 </tfoot>
          </table>
					<div *ngFor="let classData of reportData.report; let i=index">
          <!-- <div class="p-2 mb-2 bg-success class_overview">
            	<h3 class="">Class: {{classData.class_name}} <span class="pull-right">Total: {{classData.total_amount}}</span></h3>					
          </div> -->
					<table id="table_{{i}}" class="table table-striped">
						<thead>	
								<tr class="bg-success">									
										<th>
											Class: {{classData.class_name}}
										</th>
										<th attr.colspan="{{headerCount-2}}"></th>
										<th>
											Total: {{classData.total_amount}}
										</th>
									</tr>						
							<tr class="" id="header_count" class="bg-info" *ngIf="typeOfReport.value === 1">
								<th>Student Name</th>
								<th>Section</th>
								<th>Classifications</th>
								<th>Amount</th>
								<!-- <th>Transaction Date</th> -->
							</tr>
							<tr class="" id="header_count" class="bg-info" *ngIf="typeOfReport.value === 2 || typeOfReport.value === 4">
								<th>Student Name</th>
								<th>Section</th>
								<th>Classification Name</th>
								<th>Due Amount</th>
								<th *ngIf="!isGrouped">Due Date</th>
							</tr>
							<tr class="" id="header_count" class="bg-info" *ngIf="typeOfReport.value === 3">
									<th>Student Name</th>
									<th>Section</th>
									<th>Classification Name</th>
									<th *ngIf="!isGrouped"># of Overdue days</th>
									<th>Due Amount</th>
									<th *ngIf="!isGrouped">Due Date</th>
							</tr>
							<tr class="" id="header_count" class="bg-info" *ngIf="typeOfReport.value === 5">
								<th>Student Name</th>
								<th>Section</th>
								<th>Discount Amount</th>
								<th>Amount</th>
								<th>Discount %</th>
								<th>Classifications</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="typeOfReport.value === 5">								
									<ng-container *ngFor="let student of classData.student_list">
												<tr>
													<td>{{student.name}}</td>
													<td>{{student.section}}</td>
													<td>{{cf.format(student.amount)}}</td>
													<td>{{cf.format(student.actual_amount)}}</td>
													<td>{{student.discount}} </td>
													<td>{{student.classification_name}} </td>
												</tr>			
										</ng-container>	
								</ng-container>
							<ng-container *ngIf="typeOfReport.value === 3">
									<ng-container *ngFor="let student of classData.student_list">
											<tr>
												<td>{{student.name}}</td>
												<td>{{student.section}}</td>
                        <td>{{isGrouped === 1 ?student.classification_name.join() : student.classification_name}} </td>
                        <td *ngIf="!isGrouped">{{student.overdue_days}}</td>
												<td>{{cf.format(student.dueAmount)}} </td>
												<td *ngIf="!isGrouped">{{student.dueDate}} </td>
											</tr>			
									</ng-container>	
								</ng-container>
								<ng-container *ngIf="typeOfReport.value === 2 || typeOfReport.value === 4">
									<ng-container *ngFor="let student of classData.student_list">
											<tr>
												<td>{{student.name}}</td>
												<td>{{student.section}}</td>
                        <td>{{isGrouped === 1 ?student.classification_name.join() : student.classification_name}} </td>
												<td>{{cf.format(student.dueAmount)}} </td>
												<td *ngIf="!isGrouped">{{student.dueDate}} </td>
											</tr>			
									</ng-container>	
								</ng-container>
								<ng-container *ngIf="typeOfReport.value === 1">
									<!-- {{headerCount =  4}} -->
									<ng-container *ngFor="let student of classData.student_list">
											<tr>
												<td>{{student.name}}</td>
												<td>{{student.section}}</td>
												<td>{{student.classification_name}} </td>
												<td>{{cf.format(student.amount)}} </td>
											</tr>			
									</ng-container>	
								</ng-container>
								<!-- <ng-container *ngIf="reportData.report_type === 5">
										<ng-container *ngFor="let student of studentData">
												<tr>
													<td>{{student.name}}</td>
													<td>{{student.class}}</td>
													<td>{{student.section}}</td>
													<td>{{student.transactions[0].template}} </td>
													<td>{{student.transactions[0].header}} </td>
													<td>{{student.transactions[0].actual_amount}} </td>
													<td>{{student.transactions[0].amount}} </td>
													<td>{{student.transactions[0].discount}} </td>				
												</tr>
												<ng-container *ngFor="let transaction of student.transactions; let i = index" >
													<tr *ngIf = "i > 0">
														<td colspan="3"></td>
														<td>{{transaction.template}} </td>
														<td>{{transaction.header}} </td>
														<td>{{transaction.actual_amount}} </td>
														<td>{{transaction.amount}} </td>
														<td>{{transaction.discount}} </td>
													</tr> 
												</ng-container>					
										</ng-container>	
									</ng-container> -->
									
						</tbody>
          </table>
        </div>
				</div>
	</div>
</div>

