<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <ss-multiselect-dropdown  [options]="options"
          [texts]="myTexts" name="menu"
          [(ngModel)]="menuItems" [settings]="mySettings">
          </ss-multiselect-dropdown>
        </div>
        <div class="col-md-3">
          <button type="button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Mapping" id="mapMenu" class="btn btn-primary btn-md pull-right" (click)="mapMenuItems()">Map</button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
    id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
    id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
