.payment-table tr td, .payment-table tr th {
    text-align: left;
}
.payment-table tr td:last-child , .payment-table tr th:last-child{
    text-align: right;
}
.payment-table tr th:last-child {
	padding-right: 7%;
}
.fix-margin{
	    margin-right: 15px;
}
.map-btn{
	width: 200px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}
.mytable th {
    background-color: #3498db;
    color: #fff;
}