<div class="animated fadeIn">
            <div class="card">
              <ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
                    tertiaryColour: '#2980b9'}"></ngx-loading>
                <div class="card-body">
					<div class="row">
						<div class="col-md-12">
						<h2><span class="pull-left">Templates</span>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                    id="add_template"
						(click)="showModal(true,null)"><i class="fa fa-plus fa-lg"></i></button>
                    <b class="clearfix"></b></h2>
                    <table class="table table-striped payment-table" *ngIf="templates?.length > 0">
                        <thead>
                        <tr class="bg-primary">
                            <th>Template Name</th>
                            <th>Template Over Due Date</th>

                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let template of templates; let i = index">
                            <td>{{template.name}}</td>
                            <td>{{template.overdueDate}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success"
                                    id="edit_template"
                                            (click)="showModal(false,template)">Edit
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                    id="delete_template"
                                    		[disabled]="template.isFreeze"
                                            (click)="setTemplate(template)">Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--   <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
          </div>
          <div class="col-lg-12 text-center" *ngIf="templates?.length === 0 || templates === undefined">
           <div class="alert alert-primary" role="alert">
             <h4>No Templates Found. Please click on <i class="fas fa-plus"></i> Icon to create </h4>
           </div>
         </div>
					</div>
                </div>
            </div>




</div>

<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
    id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     (onHide)="onCreated($event)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
                <button type="button" class="close" (click)="modal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="saveTemplate()" #templateForm="ngForm">
            <div class="modal-body">

                <div class="card">
                    <div class="card-header">
                        <strong>Template Name</strong>

                    </div>
                    <div class="card-body">


                            <div class="form-group">
                                <label for="classify">Select Classification : </label> <select
                                    class="form-control" id="classify"
                                    [(ngModel)]="template.tempClassRefId" name="tempClassRefId"
                                    required #tempClassRefId="ngModel">
                                <option *ngFor="let classification of classifications"
                                        [value]="classification.id">{{classification.name}}
                                </option>
                            </select>


                                <div [hidden]="tempClassRefId.valid || tempClassRefId.pristine"
                                     class="alert alert-danger">Classification is required
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label for="id">id</label> <input type="text"
                                    class="form-control" id="id"
                                    placeholder="Enter the template id" [(ngModel)]="template.id"
                                    name="id">

                            </div> -->
                            <div class="row">

                                <div class="form-group  col-sm-8">
                                    <label for="name">Name</label> <input type="text"
                                                                          class="form-control" id="name" size="30" maxlength="30"
                                                                          placeholder="Enter the template name (Ex: Class-II)"
                                                                          [(ngModel)]="template.name" name="name"
                                                                          required
                                                                          #name="ngModel">
                                    <div [hidden]="name.valid || name.pristine"
                                         class="alert alert-danger">Template Name is required
                                    </div>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="dueDate">Over Due Date</label><input class="form-control"
                                                                                     type="date"
                                                                                     placeholder="Enter the over due date"
                                                                                     [(ngModel)]="template.overdueDate"
                                                                                     name="dueDate"
                                                                                     required
                                                                                     onkeydown="return false"
                                                                                     #dueDate="ngModel">
                                                                                     <div [hidden]="dueDate.valid || dueDate.pristine"
                                     class="alert alert-danger">Template Over Due Date is
                                    required
                                </div>
                                </div>

                            </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"
                id="submit_template"
                        [disabled]="!templateForm.form.valid || template.isFreeze === 1" (click)="confirmBeforeSave()">Submit
                </button>

                <button type="button" class="btn btn-secondary"
                id="cancel"
                        (click)="modal.hide()">Cancel
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #confirm=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmation</h4>
				<button type="button" class="close" (click)="confirm.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">
		<button type="submit" class="btn btn-success"
    id="confirm_delete"
			(click)="delete(template)">Yes</button>
		<button type="button" class="btn btn-secondary"
    id="confirm_cancel"
			(click)="confirm.hide()">No</button>
	</div>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #confirmSave=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmation</h4>
				<button type="button" class="close" (click)="confirmSave.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">
		<button type="submit" class="btn btn-success"
    id="confirm_save"
    [disabled]="disabled"
			(click)="saveTemplate()">Yes</button>
		<button type="button" class="btn btn-secondary"
    id="save_cancel"
			(click)="confirmSave.hide()">No</button>
	</div>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
    id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
