<div class="animated fadeIn">
			<div class="card">
				<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
			        tertiaryColour: '#2980b9'}"></ngx-loading>
				<div class="card-body">
					<div class="row">
					<div class="col-lg-12">
			<h2><span class="pull-left">Fee Headers</span>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
										id="add_header"
						(click)="showModal(true,null)"><i class="fa fa-plus fa-lg"></i></button>
                    <b class="clearfix"></b></h2>

					<table class="table table-striped payment-table" *ngIf="headers?.length > 0">
						<thead>
							<tr class="bg-primary">
								<th>Fee Headers</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let header of headers; let i = index">
								<td>{{header.name}}</td>
								<td><button type="button" class="btn btn-success"
									id="edit_header"
										(click)="showModal(false,header)">Edit</button><button type="button" class="btn btn-danger"
										id="delete_header" [disabled]="header.isFreeze"
																							   (click)="setHeader(header)">Delete</button>
								</td>

							</tr>

						</tbody>
					</table>
					<!--   <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
           </div>
					 <div class="col-lg-12 text-center" *ngIf="headers?.length === 0 || headers === undefined">
	 					<div class="alert alert-primary" role="alert">
	   					<h4>No Headers Found. Please click on <i class="fas fa-plus"></i> Icon to create </h4>
	 					</div>
	 				</div>
                    </div>
				</div>
			</div>




</div>
<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
		id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
	(onHide)="onCreated($event)">
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">{{ title }}</h4>
		<button type="button" class="close" (click)="modal.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="card">
			<div class="card-header">
				<strong>Fee Headers </strong>
			</div>
			<div class="card-body">
				<form (ngSubmit)="saveFeeHeader()" #headerForm="ngForm">
					<div class="form-group">
						<label for="name">Name</label> <input type="text"
							class="form-control" id="name" size="30" maxlength="30"
							placeholder="Enter the header name"
							[(ngModel)]="header.name" name="name" required
							#name="ngModel">
						<div [hidden]="name.valid || name.pristine"
							class="alert alert-danger">Header Name is required
						</div>
					</div>
				<!-- 	<div class="form-group">
						<label for="id">id</label> <input type="text" class="form-control"
							id="id" placeholder="Enter the header id"
							[(ngModel)]="header.id" name="id">

					</div> -->
				</form>

			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success"
			[disabled]="!headerForm.form.valid || disabled"
			id="submit_header"
			(click)="saveFeeHeader()">Submit</button>

		<button type="button" class="btn btn-secondary"
		id="cancel"
			(click)="modal.hide()">Cancel</button>
	</div>
</div>
</div>

</div>

<div class="modal fade" bsModal #confirm=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmation</h4>
				<button type="button" class="close" (click)="confirm.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">
		<button type="submit" class="btn btn-success"
		id="confirm_delete"
			(click)="delete(header)">Submit</button>
		<button type="button" class="btn btn-secondary"
		id="confirm_cancel"
			(click)="confirm.hide()">Cancel</button>
	</div>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
		id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
