<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true"
     (onShow)="handler('onShow', $event)"

     (onHide)="handler('onHide', $event)">

   <div class="modal-header">
        <h4 class="modal-title">{{ title }} </h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <div class="card">
        <div class="card-header">
          <strong>Classification</strong>
          <small>Name</small>
        </div>
        <div class="card-body">
         <form (ngSubmit)="saveClassification()" #classificationForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter the classification name"
            [(ngModel)]="classification.name"  name="name"  required  #name="ngModel">
		       <div [hidden]="name.valid || name.pristine"
			     class="alert alert-danger">
			       Classification Name is required
				</div>
          </div>
            <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" placeholder="Enter the classification id"
            [(ngModel)]="classification.id"  name="id">
		  
          </div>
          </form>
         
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success"  [disabled]="!classificationForm.form.valid" (click)="saveClassification()">Submit</button>
      
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
      </div>

  
</div>


<!-- 
     
      <div class="modal-header">
        <h4 class="modal-title">{{ title }} </h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <div class="card">
        <div class="card-header">
          <strong>Classification</strong>
          <small>Name</small>
        </div>
        <div class="card-body">
         <form (ngSubmit)="saveClassification()" #classificationForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter the classification name"
            [(ngModel)]="classification.name"  name="name"  required  #name="ngModel">
		       <div [hidden]="name.valid || name.pristine"
			     class="alert alert-danger">
			       Classification Name is required
				</div>
          </div>
            <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" placeholder="Enter the classification id"
            [(ngModel)]="classification.id"  name="id">
		  
          </div>
          </form>
         
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success"  [disabled]="!classificationForm.form.valid" (click)="saveClassification()">Submit</button>
      
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
      </div>

   -->