<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home/dashboard/']"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <button *ngIf="isSyncing" class="btn btn-outline-success pull-right btn-lg" disabled (click)="sync()"><i class="fas fa-sync-alt fa-spin"></i> Syncing</button>
  <button *ngIf="!isSyncing" class="btn btn-outline-success pull-right btn-lg" (click)="sync()"><i class="fas fa-sync-alt"></i> Sync</button>
  <ul class="nav navbar-nav">
  <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="{{schoolLogo}}" class="img-avatar" alt="logo"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
        <a class="dropdown-item" [routerLink]="['/']" [queryParams]="{ 'change': true }"><i class="fas fa-key"></i> Change Password</a>
      </div>
    </li>
  </ul>

</header>
