.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 11px solid #4dbd74;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overlay{
	background:black;
	opacity:.7;
	z-index:2;
	position:absolute;
	height:100%;
	width:100%;
}

.centered {
    position: fixed;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
}
.form-student{
    border: 1px solid #ddd;
    background: #fff;
    padding: 1em;
    border-radius: 0.5em;
}
.sub-header{
    text-align: left;
    padding-left: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
}
.add-student-btn{
    margin-top: 10px !important;
}
label{
      font-weight: 600 !important;
}
.fa-plus{
  margin-right: 2px;
}
.modal-header{
    background: #20a8d8;
    color: #fff;
}
.ack-msg{
  font-family: 'Roboto', sans-serif;
}