
<div class="container-fluid ">

<div class="row">

	<div class="col-md-2"></div>
	<div class="col-md-8 form-student">
	<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9',backdropBorderRadius:'0.4em', secondaryColour: '#2980b9',
        tertiaryColour: '#2980b9'}"></ngx-loading>
	<h3 class="sub-header" style="text-align:center;"><i class="fa fa-plus"></i>Add Student</h3>
                            <form class="form myform" (ngSubmit)="viewModal.show()" #studentForm="ngForm">
                            <div
										class="alert alert-danger">* Indicates Mandatory Fields
									</div>
                                <div class="form-group">
                                    <label for="class">*Select Class</label>
									 <select [(ngModel)]="newStudent.class" (change)="onChange($event)"
									  #studentClass="ngModel" name="classes" required class="form-control form-control-lg">
                                        <!-- <option>Select Class</option> -->
                                        <option *ngFor="let class of classes let i = index" [ngValue]="class">{{class.name}}</option>
                                    </select>
									<div [hidden]="studentClass.valid || studentClass.pristine"
									class="alert alert-danger">Please Select Class
								</div>
								</div>
								<div class="row mb-2">
									<div class="col-md-6" *ngIf="admSpecialTemplates">
											<ss-multiselect-dropdown #admTemplates="ngModel" [texts]="admTexts"
											name="admTemplates" [options]="admSpecialTemplates" [(ngModel)]="selectedAdmTemplates"
												[settings]="mySettings">
											</ss-multiselect-dropdown>
									</div>
									<div class="col-md-6" *ngIf="transSpecialTemplates">
											<ss-multiselect-dropdown #transTemplates="ngModel" [texts]="transTexts"
											name="transTemplates" [options]="transSpecialTemplates" [(ngModel)]="selectedTransTemplates"
												[settings]="mySettings">
											</ss-multiselect-dropdown>
									</div>
								</div>
								
                                <div class="form-group">
                                    <label>*Student Name</label>
                                    <input [(ngModel)] = "newStudent.name" required #name="ngModel" type="text" name="name" class="form-control form-control-lg" >
                                    <div [hidden]="name.valid || name.pristine"
							class="alert alert-danger">Student Name is required
						</div>
                                </div>
                                <div class="form-group">
                                    <label>*Father Name</label>
                                    <input [(ngModel)] = "newStudent.fatherName" required #fatherName="ngModel" name="father" type="text" class=" form-control form-control-lg" >
                                    <div [hidden]="fatherName.valid || fatherName.pristine"
										class="alert alert-danger">Father Name is required
									</div>
                                </div>
                                <div class="form-group">
                                    <label>*Mother Name</label>
                                    <input [(ngModel)] = "newStudent.motherName" required #motherName="ngModel" name="mother" type="text" class=" form-control form-control-lg" >
                                    <div [hidden]="motherName.valid || motherName.pristine"
										class="alert alert-danger">Mother Name is required
									</div>
                                </div>
                                <div class="form-group">
                                    <label>*Date of Birth</label>
                                    <input [ngModel] = "newStudent.dob | date: 'yyyy-MM-dd'"
																		(ngModelChange)="newStudent.dob = $event"
																		 required #dob="ngModel" type="date"
																		 max="{{maxDate | date:'yyyy-MM-dd'}}"
																		  name="dob" required
																		class=" form-control form-control-lg">
                                    <div [hidden]="dob.valid || dob.pristine"
										class="alert alert-danger">Date of birth is required
									</div>
                                </div>
                                <div class="form-group">
                                    <label>*Phone 1</label>
                                    <input [(ngModel)] = "newStudent.mobile1" required #phone1="ngModel" type="tel" minlength="10"  size="10" pattern="[7-9]{1}[0-9]{9}" maxlength="10" name="phone1" class=" form-control form-control-lg" >
                                    <div [hidden]="phone1.valid || phone1.pristine"
										class="alert alert-danger">Primary Contact should be valid
									</div>
                                </div>
                                <div class="form-group">
                                    <label>Phone 2</label>
                                    <input [(ngModel)] = "newStudent.mobile2"  #phone2="ngModel" type="tel" minlength="10"  size="10" pattern="[0-9]{1}[0-9]{9}" maxlength="10" name="phone2" class="form-control form-control-lg">
                                    <div [hidden]="phone2.valid || phone2.pristine"
										class="alert alert-danger">Secondary Contact should be valid
									</div>
                                </div>
                                <div class="form-group">
                                    <label>*Address</label>
                                    <textarea [(ngModel)] = "newStudent.address" required #address="ngModel" rows="4" name="address" class="form-control form-control-lg"></textarea>
                                    <div [hidden]="address.valid || address.pristine"
										class="alert alert-danger">Address is required
									</div>
                                </div>
                                <!-- <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Pin code">
                                </div> -->
								<div class="col-md-12">
									<p style="text-align:center;">
										<button type="submit" 
										class="btn btn-success add-student-btn" 
										id="add_student" (click)="viewModal.show()"
										 [disabled]="!studentForm.form.valid || isLoading || newStudent.class === null">Add Student</button>
									</p>
								</div>
                            </form>
                        </div>
		<div class="col-md-2"></div>
</div>

</div>
<div class="modal fade" bsModal #viewModal="bs-modal" tabindex="-1"
	role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Confirmation</h4>
		<button type="button" class="close" (click)="viewModal.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="card">
			<div class="card-header">
				<strong>Student Details</strong>
			</div>
			<div class="card-body">

					<div class="form-group row">
						<label class="col-md-3" for="name">Name</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.name}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Class Name</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.class?.name}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row" *ngIf="admSpecialTemplates">
						<label class="col-md-3" for="name">Admission Templates</label>
						<div class="col-md-1">:</div>
						<div class="col-md-6 pl-0">
								<ss-multiselect-dropdown #admTemplates="ngModel" [texts]="admTexts" disabled
								name="admTemplates" [options]="admSpecialTemplates" [(ngModel)]="selectedAdmTemplates"
									[settings]="mySettings">
								</ss-multiselect-dropdown>
						</div>
							<!-- <input type="text"
							class="form-control col-md-6"
							disabled
								name="name" value="{{newStudent.class.name}}">
								<div class="col-md-1"></div> -->

					</div>
					<div class="form-group row" *ngIf="transSpecialTemplates">
							<label class="col-md-3" for="name">Transaction Templates</label>
							<div class="col-md-1">:</div>
							<div class="col-md-6 pl-0">
									<ss-multiselect-dropdown #transTemplates="ngModel" [texts]="transTexts" disabled
											name="transTemplates" [options]="transSpecialTemplates" [(ngModel)]="selectedTransTemplates"
												[settings]="mySettings">
											</ss-multiselect-dropdown>
							</div>
								<!-- <input type="text"
								class="form-control col-md-6"
								disabled
									name="name" value="{{newStudent.class.name}}">
									<div class="col-md-1"></div> -->
	
						</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Father Name</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.fatherName}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Mother Name</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.motherName}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Date of Birth</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.dob}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Primary Contact</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.mobile1}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Secondary (Optional)</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.mobile2}}">
							 <div class="col-md-1"></div>
					</div>
					<div class="form-group row">
						<label class="col-md-3" for="name">Address</label>
						<div class="col-md-1">:</div>
						 <input type="text"
							class="form-control col-md-6"
							disabled
							 name="name" value="{{newStudent.address}}">
							 <div class="col-md-1"></div>
					</div>

			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" id="confirm_add"
		[disabled] ="disabled"
			(click)="addStudent(); studentForm.reset()">Submit</button>

		<button type="button" class="btn btn-secondary"
		id="confirm_cancel"
			(click)="viewModal.hide()">Cancel</button>
	</div>
</div>
</div>

</div>
<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
		id="logout"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p class="ack-msg">{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-success"
		id="ack_ok"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
