	<div class="card">
		<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9',backdropBorderRadius:'0.4em', secondaryColour: '#2980b9',
					tertiaryColour: '#2980b9'}"></ngx-loading>
		<div class="card-body">
		<form class="form" #mapForm="ngForm" (ngSubmit)="getStudents()">
			<div class="form-group row">
			<div class="col-md-3">
			</div>
              <div class="col-md-3">
               <!--  <select (ngModel)="selectedClasses" (ngModelChange)="setSelected($event)" required  name="multiple-select" class="form-control" size=10 multiple>
                	<option value="-1">Select Classes</option>
                  <option *ngFor="let class of options let i = index" [ngValue]="class.id" value="{{class.id}}" >{{class.name}}</option>
                </select> -->
                <ss-multiselect-dropdown #classes="ngModel"
								 name="classes" [options]="options" [(ngModel)]="selectedClasses"
								  [settings]="mySettings" (ngModelChange)="setSelected($event)">
								</ss-multiselect-dropdown>
                 <div [hidden]="classes.valid || classes.pristine"
										class="alert alert-danger">Please select classes
									</div>
              </div>
			<div class="col-md-6">
              	<button class="btn btn-success map-btn" id="section_map" [disabled]="!mapForm.valid" (click)="getStudents()">Map</button>
        	</div>
      </div>
      </form>
		</div>
	</div>

	  <div class="col-lg-12">

			<div class="card" *ngIf="students?.length > 0">
				<div class="card-body">
	  	<table class="table table-striped table-bordered">
	  		<thead>
	  			<tr>
	  				<th>Student Name</th>
	  				<th>Class Name</th>
					<th>Section</th>
					<th>Map/Delete</th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<tr *ngFor="let student of students; let i = index">
	  			<td>{{student.name}}</td>
	  			<td>{{student.class.name}}</td>
	  			<td><select [(ngModel)]="student.section"  class="form-control">
	  					<option *ngFor="let section of student.sections; let ii = index" [ngValue]="section">{{section.name}}</option>
	  				</select>
	  			</td>
	  			<td><button class="btn btn-primary fix-margin" id="map_section" [disabled]="disabled" (click)="mapsection(student)">Map</button><button class="btn btn-danger" (click)="setStudent(student)" id="delete_map" [disabled]="student.isFreeze">Delete</button></td>
	  			</tr>
	  		</tbody>
	  	</table>

	  </div>
	  </div>
		<div class="col-lg-12 text-center" *ngIf="students?.length === 0">
			<div class="alert alert-primary" role="alert">
				<h4>No Students found to Map</h4>
			</div>
		</div>
	  </div>

		<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
		        <button type="button" class="close" (click)="sessionModal.hide()"
		      aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		      </div>
		      <div class="modal-body">
		            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

		      </div>
		      <div class="modal-footer">

		    <button type="button" class="btn btn-success"
				id="logout"
		      (click)="authenticationService.logout()">Logout</button>
		  </div>
		    </div>
		  </div>
		</div>

	  <div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p class="">{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-primary"
		id="ack_ok"
			(click)="getStudents();ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
<div class="modal fade" bsModal #confirm=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmation</h4>
				<button type="button" class="close" (click)="confirm.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">
		<button type="submit" class="btn btn-success"
			(click)="deleteStudent(studentId)">Submit</button>
		<button type="button" class="btn btn-secondary"
			(click)="confirm.hide()">Cancel</button>
	</div>
		</div>
	</div>
</div>
