<div class="container view-std-container">
	<div class="row" *ngIf="!feeId">
		<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9',backdropBorderRadius:'0.4em', secondaryColour: '#2980b9',
					tertiaryColour: '#2980b9'}"></ngx-loading>
		<div class="col-md-6">
				<div class="form-group">
					<select class="form-control" (change) = "getSections($event.target)" required>
							<option value="-1">Select Class</option>
							<option *ngFor="let class of classes; let i = index" [value]="class.id">{{class.name}}</option>
					</select>
				</div>
				</div>
				<div class="col-md-6" *ngIf="sections != null">
				<div class="form-group">
					<select class="form-control" (change) ="getStudents($event.target)" required>
						<option value="-1">Select Section</option>
						<option *ngFor="let section of sections; let i = index" [value]="section.id">{{section.name}}</option>
					</select>
				</div>
				</div>
	</div>

	<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{authenticationService.ackHead}}</h4>
					<button type="button" class="close" (click)="sessionModal.hide()"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
				</div>
				<div class="modal-body">
							<p class="ack-msg">{{authenticationService.ackMsg}}</p>

				</div>
				<div class="modal-footer">

			<button type="button" class="btn btn-success"
			id="logout"
				(click)="authenticationService.logout()">Logout</button>
		</div>
			</div>
		</div>
	</div>

	<div class="col-md-12" *ngIf="students !== null && !feeId">
		<div class="card" *ngIf="students?.length > 0">
			<div class="card-body">
				<table class="table table-striped table-bordered" >
				<thead>
					<tr  class="bg-primary">
						<th>Student Name</th>
						<th>Class </th>
						<th>Section</th>
						<th>Father Name</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
				<tr *ngFor="let student of students">
					<td>{{student.name}}</td>
					<td>{{student.class}}</td>
					<td>{{student.section}}</td>
					<td>{{student.father}}</td>
					<td>{{student.address}}</td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="col-lg-12 text-center" *ngIf="students?.length === 0">
		 <div class="alert alert-primary" role="alert">
			 <h4>No Students Found.</h4>
		 </div>
	 </div>
	</div>
	<div class="col-md-12" *ngIf="feeId">
		<div class="text-center shadow-sm p-2 mb-3 bg-info rounded">
			<h2> Fee Structure Students List </h2></div>
		<table class="table table-striped" *ngIf="feeStudents?.length > 0">
			<thead>
				<th>Student Name</th>
				<th>Class</th>
				<th>Section</th>
			</thead>
			<tbody>
				<tr *ngFor="let student of feeStudents">
					<td>{{student.name}}</td>
					<td>{{student.class}}</td>
					<td>{{student.section}}</td>
				</tr>
			</tbody>
		</table>
		<div class="col-lg-12 text-center" *ngIf="feeStudents?.length === 0">
				<div class="alert alert-primary" role="alert">
					<h4>No Students Found.</h4>
				</div>
			</div>
	</div>
