<div class="animated fadeIn">
	<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
        tertiaryColour: '#2980b9'}"></ngx-loading>
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<div class="card text-white bg-danger">
				<div class="card-body pb-0">
					<h4 class="mb-0">{{totalStudents}}</h4>
					<p>Total Students</p>
				</div>
			</div>
		</div>
		<!--/.col-->

		<div class="col-sm-6 col-lg-3">
			<div class="card text-white bg-primary">
				<div class="card-body pb-0">
					<h4 class="mb-0">{{totalDue}}</h4>
					<p>Total Due</p>
				</div>
			</div>
		</div>
		<!--/.col-->

		<div class="col-sm-6 col-lg-3">
			<div class="card text-white bg-warning">
				<div class="card-body pb-0">
					<h4 class="mb-0">{{totalPaid}}</h4>
					<p>Students paid in the last 30 days</p>
				</div>
			</div>
		</div>
		<!--/.col-->
		<div class="col-sm-6 col-lg-3">
			<div class="card text-white bg-danger">
				<div class="card-body pb-0">
					<h4 class="mb-0">{{overDue}}</h4>
					<p>Over Due </p>
				</div>
			</div>
		</div>
		<!--/.col-->




	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-sm-12 col-lg-6" *ngIf="lineChartData != null">
			<div class="card">
				<div class="card-header">Collection in last 7 days</div>
				<div class="card-body">
					<div class="chart-wrapper">
						<!--  <canvas baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas> -->
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6" *ngIf="barChartData != null">
			<div class="card">
				<div class="card-header">Amount Received by Class (in last 7 days)</div>
				<div class="card-body">
					<div class="chart-wrapper">
						<!-- <canvas baseChart class="chart" [data]="pieChartData"
							[labels]="pieChartLabels" [chartType]="pieChartType"
							(chartHover)="chartHovered($event)"
							(chartClick)="chartClicked($event)"></canvas>
							 -->
					<canvas baseChart class="chart"
          				[datasets]="barChartData"
          				[labels]="barChartLabels"
          				[colors]="barChartColors"
          				[options]="barChartOptions"
          				[legend]="barChartLegend"
          				[chartType]="barChartType"
          				></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- row -->
	<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{ackHead}}</h4>
					<!-- <button type="button" class="close" (click)="ack.hide()"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button> -->
				</div>
				<div class="modal-body">
							<p class="ack-msg">{{ackMsg}}</p>

				</div>
				<div class="modal-footer">

			<button type="button" class="btn btn-success"
				(click)="authenticationService.logout()">Logout</button>
		</div>
			</div>
		</div>
	</div>
</div>
