<div class="card" *ngIf="reportData === null">
	<div class="card-body">
	<ngx-loading [show]="isLoading" [config]="{primaryColour: '#2980b9', secondaryColour: '#2980b9',
        tertiaryColour: '#2980b9'}"></ngx-loading>
		<div class="row">
			<div class="col-md-12">
				<h2 style="text-align:center">Download Report</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">

			</div>
			<div class="col-md-6">
				<form class="form myForm" (ngSubmit)="downloadReport()" #reportForm="ngForm">
				<div class="row">
					<div class="col-sm-12">
					<label for="select report for">Select Report Type</label>
					<select [(ngModel)]="typeOfReport" required name="type" class="form-control" (change) ="selectClassifications()">
						<option value='1'>Fee Collection</option>
						<option value='2'>Due Report</option>
						<option value='3'>Overdue Report</option>
						<option value='4'>Due &amp; Overdue Report</option>
						<option value='5'>Discount Report</option>
					</select>
					</div>
				</div>
				<hr>
				<div class="row">
				<div class='col-12 form-group' *ngIf="typeOfReport == 1">
				<label>From Date</label>
		<input type="text" placeholder="From Date"
           class="form-control"   required
           type="date"
           #from="ngModel"
					 required
					 onkeydown="return false"
           name="from"
           [(ngModel)] = "fromDate">
           <div [hidden]="from.valid || from.pristine"
									class="alert alert-danger">From Date is required</div>

	</div>
	</div>
	<div class="row">
	<div class='col-12 form-group' *ngIf="typeOfReport == 1">
		<label>To Date</label>
		<input type="text" placeholder="To Date"
           class="form-control"      required
           type="date" #to="ngModel"
           name="to"
					 required
					 onkeydown="return false"
           [(ngModel)] = "toDate">
            <div [hidden]="to.valid || to.pristine"
									class="alert alert-danger">To Date is required</div>
	</div>
	</div>
	<div class="row">
	<div class="col-12 form-group" *ngIf="classifications != null">
	<label>Select Classification</label>
	<!-- <select [(ngModel)] = "classfiy" required multiple size="3" name="classify" (change)="selectTemplates()" class="form-control">
		<option *ngFor="let classify of classifications let i = index" value="{{classify.id}}">{{classify.name}}</option>
	</select> -->
	<ss-multiselect-dropdown required  [options]="classifications"
	 [texts]="myTexts" #classify="ngModel" name="classify"
	 [(ngModel)]="classfiy" [settings]="mySettings"
	 (ngModelChange)="selectTemplates()">
 </ss-multiselect-dropdown>
	 <div [hidden]="classfiy?.length !== 0"
									class="alert alert-danger">Please Select Classifications</div>
	</div>
	</div>
	<div class="row">
	<div class="col-12 form-group" *ngIf="reportTemplates != null">
	<label>Select Template</label>
	<!-- <select [(ngModel)] = "template" required  multiple size="3" name="template" (change)="selectClasses()" class="form-control">
		<option *ngFor="let template of reportTemplates; let i = index" value="{{template.id}}">{{template.name}}</option>
	</select> -->
	<ss-multiselect-dropdown required  [options]="reportTemplates"
	[texts]="myTexts" name="template" [(ngModel)]="template"
	[settings]="mySettings" (ngModelChange)="selectClasses()">
</ss-multiselect-dropdown>
	<div [hidden]="template?.length !== 0"
									class="alert alert-danger">Please Select Templates</div>
	</div>
	</div>
	<div class="row">
	<div class="col-12 form-group" *ngIf="classes != null">
	<label>Select Class</label>
	<!-- <select [(ngModel)] = "selectedClass" required multiple size="3" name="classes" class="form-control">
		<option *ngFor="let class of classes; let i = index" value="{{class.id}}">{{class.name}}</option>
	</select> -->
	<ss-multiselect-dropdown required  [options]="classes"
	[texts]="myTexts" name="classes"
	[(ngModel)]="selectedClass"
	[settings]="mySettings" (ngModelChange)="autoCloseOnSelectAll()">
</ss-multiselect-dropdown>
	 <div [hidden]="selectedClass?.length !== 0"
									class="alert alert-danger">Please Select Classes</div>
	</div>
	</div>
	<div class="row">
	<div class="col-12 form-group">
		<button type="button" class="btn btn-primary btn-block" id="download" (click)="downloadReport()" [disabled]="!reportForm.form.valid || isLoading">Export</button>
	</div>
	</div>
	</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #sessionModal=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{authenticationService.ackHead}}</h4>
        <button type="button" class="close" (click)="sessionModal.hide()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
            <p class="ack-msg">{{authenticationService.ackMsg}}</p>

      </div>
      <div class="modal-footer">

    <button type="button" class="btn btn-success"
      (click)="authenticationService.logout()">Logout</button>
  </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #ack=bs-modal tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ackHead}}</h4>
				<button type="button" class="close" (click)="ack.hide()"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
			</div>
			<div class="modal-body">
						<p>{{ackMsg}}</p>

			</div>
			<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
			(click)="ack.hide()">Ok</button>
	</div>
		</div>
	</div>
</div>
<div class="card" *ngIf="reportData">
	<div class="m-3">
		<button class="btn btn-secondary pull-right back-btn" (click)="reportData = null">Back</button>
	</div>
	<div class="card-body" id="print_div">
			<div class="container" *ngIf="reportData !== null || reportData !== undefined">
					<div class="heading mb-2">
						<h1 class="text-center">
							{{reportData.report_name}}
						</h1>
					</div>
					<div class="p-1 mb-2 bg-info text-white">
						<h3 class="text-center">{{reportData.header_name}} : {{reportData.total_amount}}</h3>
					</div>
					<table class="table">
						<thead>
							<tr *ngIf="reportData.report_type === 1">
								<th>Student Name</th>
								<th>Class</th>
								<th>Section</th>
								<th>Template Type</th>
								<th>Amount</th>
								<th>Transaction Date</th>
							</tr>
							<tr *ngIf="reportData.report_type === 3 || reportData.report_type === 4 || reportData.report_type === 2">
									<th>Student Name</th>
									<th>Class</th>
									<th>Section</th>
									<th>Template Type</th>
									<th>Amount</th>
									<th>Due Amount</th>
									<th>Due Date</th>
								</tr>
							<tr *ngIf="reportData.report_type === 5">
									<th>Student Name</th>
									<th>Class</th>
									<th>Section</th>
									<th>Template Type</th>
									<th>Header</th>
									<th>Actual Amount</th>
									<th>Amount</th>
									<th>Discount(%)</th>
								</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="reportData.report_type === 1">
								<ng-container *ngFor="let student of studentData">
										<tr>
											<td>{{student.name}}</td>
											<td>{{student.class}}</td>
											<td>{{student.section}}</td>
											<td>{{student.transactions[0].template}} </td>
											<td>{{student.transactions[0].amount}} </td>
											<td>{{student.transactions[0].date_time}} </td>				
										</tr>
										<ng-container *ngFor="let transaction of student.transactions; let i = index" >
											<tr *ngIf = "i > 0">
												<td colspan="3"></td>
												<td>{{transaction.template}} </td>
												<td>{{transaction.amount}} </td>
												<td>{{transaction.date_time}} </td>		
											</tr> 
										</ng-container>					
								</ng-container>	
							</ng-container>
							<ng-container *ngIf="reportData.report_type === 3 || reportData.report_type === 4 ||reportData.report_type === 2">
									<ng-container *ngFor="let student of studentData">
											<tr>
												<td>{{student.name}}</td>
												<td>{{student.class}}</td>
												<td>{{student.section}}</td>
												<td>{{student.transactions[0].template}} </td>
												<td>{{student.transactions[0].amount}} </td>
												<td>{{student.transactions[0].dueAmount}} </td>
												<td>{{student.transactions[0].dueDate}} </td>
											</tr>
											<ng-container *ngFor="let transaction of student.transactions; let i = index" >
												<tr *ngIf = "i > 0">
													<td colspan="3"></td>
													<td>{{transaction.template}} </td>
													<td>{{transaction.amount}} </td>
													<td>{{transaction.dueAmount}} </td>
													<td>{{transaction.dueDate}} </td>
												</tr> 
											</ng-container>					
									</ng-container>	
								</ng-container>
								<ng-container *ngIf="reportData.report_type === 5">
										<ng-container *ngFor="let student of studentData">
												<tr>
													<td>{{student.name}}</td>
													<td>{{student.class}}</td>
													<td>{{student.section}}</td>
													<td>{{student.transactions[0].template}} </td>
													<td>{{student.transactions[0].header}} </td>
													<td>{{student.transactions[0].actual_amount}} </td>
													<td>{{student.transactions[0].amount}} </td>
													<td>{{student.transactions[0].discount}} </td>				
												</tr>
												<ng-container *ngFor="let transaction of student.transactions; let i = index" >
													<tr *ngIf = "i > 0">
														<td colspan="3"></td>
														<td>{{transaction.template}} </td>
														<td>{{transaction.header}} </td>
														<td>{{transaction.actual_amount}} </td>
														<td>{{transaction.amount}} </td>
														<td>{{transaction.discount}} </td>
													</tr> 
												</ng-container>					
										</ng-container>	
									</ng-container>
									
						</tbody>
					</table>
				</div>
	</div>
</div>

