// Here you can add other styles
.btn-outline-success {
    border: none;
    border-radius: 8%;
}
option:disabled {
    cursor: not-allowed;
}
button:disabled {
    cursor: not-allowed;
}
.display-5 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
}
.table-borderless, td, th {
    border: 0 !important;
}