/*!
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.6
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 */

// Override Boostrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Custom styles
@import "custom";

/*Date picker container*/ 
bs-datepicker-container { z-index: 3000; }

@media print{
    header, nav, footer, .breadcrumb, .print-btn, .back-btn,  {
      display: none !important;
    }
    // .table > thead > tr {
    //   background-color: #4dbd74 !important;
    //   color: #fff !important;
    // }
    .bg-primary {
      -webkit-print-color-adjust: exact; 
      color: #fff;
      background-color: #20a8d8 !important
    }
    .app-body {
      margin-top: 0 !important;
    }
    .container-fluid {
      padding: 0 !important;
    }
    body {
        -webkit-print-color-adjust: exact; 
        background-color: #fff;        
    }
  }